/* Overriding bootstrap styles */
.backupActionsHeader > button:focus,
.backupActionsHeader > button:not(.collapsed) {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.125);
    background-color: rgba(0, 0, 0, 0.05);
    color: inherit;
}
